<html>
<head>
<title>Delete_task</title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='css/delete_task.css')}}> 
    <link rel="shortcut icon" type="image/png" href="static/img/epitech.png"/>
</head>
<body>
    <div id="task-box">
      <div class="left-text-box">
        <h1>Delete task</h1>
        <h3> Insere le la la liste d'affichage</h3>
        <form method="POST">
            <input type="text" name="id_task" placeholder="ID task"/>
            <input type="submit" name="Submit" value="Submit"/>
        </form>
      </div>
</body>
</html>
